{{ define "content" }}
{{ $posts := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $pinned := sort (where $posts "Params.pinned" true) "Date" "desc" }}
{{ $unpinned := sort (where $posts "Params.pinned" "ne" true) "Date" "desc" }}

{{ $ordered := slice }}
  {{ range $pinned }}
    {{ $ordered = $ordered | append . }}
  {{ end }}
  {{ range $unpinned }}
    {{ $ordered = $ordered | append . }}
  {{ end }}
{{ $paginator := .Paginate $ordered }}
<div class="prose prose-invert prose-sm max-w-none dark:prose-invert mb-8">
  {{ .Content }}
</div>
{{ range $paginator.Pages }}
{{ partial "card.html" . }}
{{ end }}
{{ partial "pagination.html" . }}
{{ end }}
